Repository Team25s/MOZI-iOS, pull requests merged in 2022-06, with the labels that each got.

#7 [Feat] 컬러 에셋 및 Extension 추가
  MOZI/MOZI.xcodeproj/project.pbxproj
  MOZI/MOZI/Resource/ColorAssets.xcassets/Contents.json
  MOZI/MOZI/Resource/ColorAssets.xcassets/lightGreen00.colorset/Contents.json
  MOZI/MOZI/Resource/ColorAssets.xcassets/lightGreen01.colorset/Contents.json
  MOZI/MOZI/Resource/ColorAssets.xcassets/lightGreen02.colorset/Contents.json
  MOZI/MOZI/Resource/ColorAssets.xcassets/primary.colorset/Contents.json
  MOZI/MOZI/Resource/ColorAssets.xcassets/primary_strong.colorset/Contents.json
  MOZI/MOZI/Resource/ColorAssets.xcassets/primary_weak.colorset/Contents.json
  MOZI/MOZI/Util/Extension/Color+Extension.swift
  MOZI/MOZI/Util/Extension/UIColor+Extension.swift
Labels: asset, feat

#12 [ADD] 프로젝트 폰트 추가
  MOZI/MOZI.xcodeproj/project.pbxproj
  MOZI/MOZI/Util/Extension/Font+Extension.swift
  MOZI/MOZI/Util/Extension/UIFont+Extension.swift
Labels: asset

#13 [ADD] AuthScene Image asset 추가
  MOZI/MOZI/Resource/Assets.xcassets/errorIcon.imageset/Contents.json
  MOZI/MOZI/Resource/Assets.xcassets/errorIcon.imageset/ic_error.png
  MOZI/MOZI/Resource/Assets.xcassets/errorIcon.imageset/ic_error@2x.png
  MOZI/MOZI/Resource/Assets.xcassets/errorIcon.imageset/ic_error@3x.png
  MOZI/MOZI/Resource/Assets.xcassets/moziLogoIcon.imageset/Contents.json
  MOZI/MOZI/Resource/Assets.xcassets/moziLogoIcon.imageset/mozi-logo-icon.png
  MOZI/MOZI/Resource/Assets.xcassets/moziLogoIcon.imageset/mozi-logo-icon@2x.png
  MOZI/MOZI/Resource/Assets.xcassets/moziLogoIcon.imageset/mozi-logo-icon@3x.png
  MOZI/MOZI/Resource/Assets.xcassets/subtitleMoziLogo.imageset/Contents.json
  MOZI/MOZI/Resource/Assets.xcassets/subtitleMoziLogo.imageset/subtitle-mozi-logo.png
  MOZI/MOZI/Resource/Assets.xcassets/subtitleMoziLogo.imageset/subtitle-mozi-logo@2x.png
  MOZI/MOZI/Resource/Assets.xcassets/subtitleMoziLogo.imageset/subtitle-mozi-logo@3x.png
  MOZI/MOZI/Resource/Assets.xcassets/titleMoziLogo.imageset/Contents.json
  MOZI/MOZI/Resource/Assets.xcassets/titleMoziLogo.imageset/mozi-title-icon.png
  MOZI/MOZI/Resource/Assets.xcassets/titleMoziLogo.imageset/mozi-title-icon@2x.png
  MOZI/MOZI/Resource/Assets.xcassets/titleMoziLogo.imageset/mozi-title-icon@3x.png
  MOZI/MOZI/Resource/Assets.xcassets/titleMoziLogoIcon.imageset/Contents.json
  MOZI/MOZI/Resource/Assets.xcassets/titleMoziLogoIcon.imageset/title-mozi-logi-icon.png
  MOZI/MOZI/Resource/Assets.xcassets/titleMoziLogoIcon.imageset/title-mozi-logi-icon@2x.png
  MOZI/MOZI/Resource/Assets.xcassets/titleMoziLogoIcon.imageset/title-mozi-logi-icon@3x.png
  MOZI/MOZI/Util/Literal/ImageLiteral.swift
Labels: asset

#14 [FEAT] 로그인 화면 구현
  MOZI/MOZI.xcodeproj/project.pbxproj
  MOZI/MOZI/Application/AppDelegate.swift
  MOZI/MOZI/Presentation/AuthScene/View/Component/MoziLoginTextField.swift
  MOZI/MOZI/Presentation/AuthScene/View/SignInView.swift
  MOZI/MOZI/Util/Extension/Color+Extension.swift
  MOZI/MOZI/Util/Extension/Font+Extension.swift
  MOZI/MOZI/Util/Extension/UIColor+Extension.swift
  MOZI/MOZI/Util/Extension/View+Extension.swift
Labels: feat
